<main>
  <h1>Cadastrar Produto</h1>
  <section id="section-cadastro">
    <form>
      <div class="col-auto">
        <label for="produto">Produto</label>
        <input type="text" class="form-control" name="produto">
      </div>
      <br>

      <div class="col-auto">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" name="descricao">
      </div>
      <br>

      <div class="col-auto">
        <label for="foto">Foto</label>
        <input type="text" class="form-control" name="foto">
      </div>
      <br>

      <div class="col-auto">
        <label for="preco">Preço</label>
        <input type="number" class="form-control" name="preco">
      </div>
      <br>

      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3">Cadastrat</button>
      </div>
    </form>
  </section>
</main>
